@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Animación de brillo rosa */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #ff69b4, 0 0 15px #ff69b4;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff1493, 0 0 30px #ff1493;
  }
}

/* Animación de parpadeo */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.7; }
}

/* Clase para aplicar ambas animaciones */
.animate-glow {
  animation: glow 2s infinite alternate, blink 1.5s infinite;
}